.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #e1e1e1;
}

.navbar a {
  text-decoration: none;
  color: #666;
}

.nav-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-logo a {
  text-decoration: none;
}

.nav-cart {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.cart-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.cart-info p {
  margin-left: -20px;
  text-decoration: none;
  font-size: 17px;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
