.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #e1e1e1;
}

.nav-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-logo a {
  text-decoration: none;
  color: #666;
}

.nav-cart {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}
