.banner {
  width: 100%;
  height: calc(100vh - 10vh);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/imgs/i1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: changeBackground 10s infinite;
}

.banner-container {
  padding: 8% 12%;
}

.banner h1 {
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 60px;
}

.banner p {
  color: #fff;
  font-size: 30px;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 53px;
    text-align: center;
  }

  .banner p {
    font-size: 20px;
    margin: 4px 0;
    background: #85c1e9;
    opacity: 1;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

@keyframes changeBackground {
  0% {
    background-image: url("/imgs/i1.jpg");
  }
  50% {
    background-image: url("/imgs/banner.webp");
  }
  100% {
    background-image: url("/imgs/i1.jpg");
  }
}
